$chat-window-margin: 16px;
$chat-window-bottom-offset: 64px + 32px;

.chat-window {
  position: fixed;
  bottom: $chat-window-bottom-offset;
  right: $chat-window-margin;
  min-width: 400px;
  max-width: 600px;
  max-height: 600px;

  &-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  &-visible {
    opacity: 1;
    transition: opacity 1s;
  }
  &-invisible {
    opacity: 0;
    transition: opacity 1s;
  }
}
