$chat-trigger-bg-color: #f77f0a;
$chat-trigger-hover-color: #c66606;
$chat-trigger-size: 64px;
$chat-trigger-margin: 8px;

.chat-trigger {
  position: fixed;
  bottom: $chat-trigger-margin;
  right: $chat-trigger-margin;
  height: $chat-trigger-size;
  width: $chat-trigger-size;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40%;
  background-color: $chat-trigger-bg-color;
  box-shadow: #606060aa 2px 2px $chat-trigger-margin;
  cursor: pointer;
  transition: background-color 1s;

  &:hover {
    background-color: $chat-trigger-hover-color;
    transition: background-color 1s;
  }
}
