@use "variables.scss" as *;

.chat-window {
  position: fixed;
  right: $right-margin;
  bottom: $bottom-offset;
  min-width: 400px;
  max-width: 600px;
  max-height: 600px;

  &-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  &-visible {
    opacity: 1;
    transition: opacity 1s;
  }
  &-invisible {
    opacity: 0;
    transition: opacity 1s;
  }
}
