$help-menu-margin: 16px;
$help-menu-bottom-offset: 64px + 32px;

.help-menu {
  position: fixed;
  bottom: $help-menu-bottom-offset;
  right: $help-menu-margin;
  min-width: 200px;

  &-visible {
    opacity: 1;
    transition: opacity 1s;
  }
  &-invisible {
    opacity: 0;
    transition: opacity 1s;
  }
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}
