// Component styles
@use "ChatWindow.scss";
@use "ChatMessage.scss";
@use "HelpMenu.scss";
@use "InfoTooltip.scss";
@use "MenuTrigger.scss";

body {
  height: 100vh;
  margin: 0;
}

.chat-widget {
  height: 100vh;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
