// Component styles
@use "ChatWindow.scss";
@use "ChatMessage.scss";
@use "HelpMenu.scss";
@use "InfoTooltip.scss";
@use "MenuTrigger.scss";

html {
  font-family: "Arial", "Helvetica", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

.chat-widget {
  height: 100vh;
  padding: 0;
}
