$menu-trigger-bg-color: #f77f0a;
$menu-trigger-hover-color: #c66606;
$menu-trigger-size: 64px;
$menu-trigger-margin: 16px;
$menu-bottom-offset: 48px;

.menu-trigger {
  position: fixed;
  bottom: $menu-trigger-margin + $menu-bottom-offset;
  right: $menu-trigger-margin;
  height: $menu-trigger-size;
  width: $menu-trigger-size;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40%;
  background-color: $menu-trigger-bg-color;
  box-shadow: #606060aa 2px 2px $menu-trigger-margin;
  cursor: pointer;
  transition: background-color 1s;

  &:hover {
    background-color: $menu-trigger-hover-color;
    transition: background-color 1s;
  }
}
